@model EditProfileViewModel

@{
    ViewData["Title"] = "Reset PassWord";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="EditProfile">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
</form>