@model LoginViewModel

@{
    ViewData["Title"] = "Login"; 
 }

<link href="~/css/LoginStyle.css" rel="stylesheet" />

    <div class="page-wrapper bg-gra-02 p-t-50 p-b-100 font-poppins mt-2 container-fluid">
        <div class="wrapper wrapper--w680">
            <div class="card card-6">
                <div class="card-body">
                    <h2 class="title">Traveler Log In</h2>
                    <form asp-action="Login">
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <label asp-for="Email" class="label"></label>
                                    <input asp-for="Email" class="input--style-4" type="email" name="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <label asp-for="Password" class="label">Password</label>
                                    <input asp-for="Password" class="input--style-4" type="password" name="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="center-block">
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-primary" asp-action="Register" asp-controller="Account">Register</a>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <script src="~/js/global.js"></script>

