@model DemoTraveler.Models.User



@{
    ViewData["Title"] = @Localizer["Home"];
}


<hr />


<div class="login-box">
    <h2>Login</h2>
    <form asp-action="Login">
        <div class="user-box">
            <input type="text" asp-for="UserName">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" asp-for="Password">
            <label>Password</label>
        </div>
        <a type="submit" value="Login">
            <span asp-validation-for="UserName"></span>
            <span asp-validation-for="Password"></span>
            <span></span>
            <span></span>
            
        </a>
    </form>
</div>



