@model DemoTraveler.Models.User



@{
    ViewData["Title"] = "Login";
}


<hr />

<html lang="en">
<head>
    <link href="~/css/LoginStyle.css" rel="stylesheet" />
</head>
<body>
    
    <div class="cotn_principal">
        <div class="cont_centrar">
            <div class="cont_login">
                <div class="cont_info_log_sign_up">
                    <div class="col_md_login">
                        <div class="cont_ba_opcitiy">
                            <h2>LOGIN</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <button class="btn_login" onclick="change_to_login()">LOGIN</button>
                        </div>
                    </div>
                    <div class="col_md_sign_up">
                        <div class="cont_ba_opcitiy">
                            <h2>SIGN UP</h2>


                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                            <button class="btn_sign_up" onclick="change_to_sign_up()">SIGN UP</button>
                        </div>
                    </div>
                </div>


                <div class="cont_back_info">
                    <div class="cont_img_back_grey">
                        <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
                    </div>

                </div>
                <form asp-action="Login">
                    <div class="cont_forms">
                        <div class="cont_img_back_">
                            <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
                        </div>
                        <div class="cont_form_login">
                            <a href="#" onclick="hidden_login_and_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                            <h2>LOGIN</h2>
                            <input asp-for="UserName" type="text" placeholder="Email" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <input asp-for="Password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <button class="btn_login" type="submit">LOGIN</button>
                        </div>
                        <div class="cont_form_sign_up">
                            <a href="#" onclick="hidden_login_and_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                            <h2>SIGN UP</h2>
                            <input asp-for="Email" placeholder="Email" />
                            <input asp-for="UserName" type="text" placeholder="User" />
                            <input asp-for="Password" type="password" placeholder="Password" />
                            <input asp-for="Password" type="password" placeholder="Confirm Password" />
                            <button type="submit" class="btn btn-primary">SIGN UP</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
    <script src="~/js/JavaScript.js"></script>
</body>
</html>



