@model RegisterViewModel

@{ 
    ViewData["Title"] = "Register"; 
 }



<link href="~/css/LoginStyle.css" rel="stylesheet" />

<div class="container-fluid py-5" dir="ltr">
    <div class="container pt-5">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Traveler Registration Form</h2>
                <form asp-action="Register" method="POST">
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="FirstName" class="label"></label>
                                <input asp-for="FirstName" class="input--style-4" type="text" name="FirstName">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="LastName" class="label"></label>
                                <input asp-for="LastName" class="input--style-4" type="text" name="LastName">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="BirthDay" class="label"></label>
                                <div class="input-group-icon">
                                    <input asp-for="BirthDay" class="input--style-4 js-datepicker" type="text" name="Birthday">
                                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">
                                        Male
                                        <input asp-for="Gender" type="radio" value="true" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        Female
                                        <input asp-for="Gender" type="radio" value="false">
                                        <span class="checkmark"></span>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-8">
                            <div class="input-group">
                                <label asp-for="Email" class="label">Email</label>
                                <input asp-for="Email" class="input--style-4" type="email" name="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <label asp-for="Password" class="label">Password</label>
                                <input asp-for="Password" class="input--style-4" type="password" name="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <label class="label" asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="input--style-4" type="password" name="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <label class="label" asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="input--style-4" type="number" name="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <a class="btn btn-primary" asp-action="Login" asp-controller="Account">
                            I Have Account
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




