@model DemoTraveler.Models.ViewModels.RegisterViewModel

@{ 
    ViewData["Title"] = "Register"; 
 }
<style>
    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
</style>


<link href="~/css/LoginStyle.css" rel="stylesheet" />
<div class="container-fluid py-5" dir="ltr">
    <div class="container pt-5">
        <div class="card card-4">
            <div class="card-body p-4">
                <h2 class="title">Traveler Registration Form</h2>
                <form asp-action="Register" asp-controller="Account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row row-space">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label asp-for="FirstName" class="label"></label>
                                <input asp-for="FirstName" class="input--style-4" type="text" name="FirstName">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label asp-for="LastName" class="label"></label>
                                <input asp-for="LastName" class="input--style-4" type="text" name="LastName">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label asp-for="BirthDay" class="label"></label>
                                <input asp-for="BirthDay" class="input--style-4 " name="BirthDay">
                                <span asp-validation-for="BirthDay" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label asp-for="Gender" class="label"> </label>
                                <div class="input-group mt-4">
                                    <label class="radio-container m-r-45">
                                        Male
                                        <input asp-for="Gender" type="radio" value="true">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        Female
                                        <input asp-for="Gender" type="radio" value="false">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label asp-for="Email" class="label">Email</label>
                                <input asp-for="Email" class="input--style-4" type="email" name="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="label" asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="input--style-4" type="number" name="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label asp-for="Password" class="label">Password</label>
                                <input asp-for="Password" class="input--style-4" type="password" name="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="label" asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="input--style-4" type="password" name="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <button class="btn btn-primary w-50 p-3 center-block" type="submit">Login</button>
                    </div>
                    <label class="w-50 p-3 center-block text-center">
                        Have Account ?! please
                        <a asp-action="Login" asp-controller="Account" style="color:blue; font-weight:bold">login</a>
                    </label>

                </form>
            </div>
        </div>
    </div>
</div>




