@model IEnumerable<DemoTraveler.Models.ViewModels.UserRoleViewModel>


@{
    ViewData["Title"] = "User Role";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}


@*<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>d>
            </tr>

        }
    </tbody>
</table>*@

<a asp-action="CreateUserRole" asp-controller="User"
   class="btn btn-success"> Create User Role</a>

