@model IEnumerable<Partner>

@{      
    ViewData["Title"] = "About Us";
}


<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Guides</h6>
            <h1>Our Travel Partners</h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img src="..\@Url.Content(item.PartnerImg)" alt="" height="200" width="255">
                            
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">@item.PartnerName</h5>
                            <p class="m-0">@item.PartnerJop</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>