@model DemoTraveler.Models.ViewModels.BookingPackageViewModel

@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Booking Package";
}

@inject SignInManager<ApplicationUser> signInManager
<hr />
<hr />
<link href="~/css/LoginStyle.css" rel="stylesheet" />


<div class="container-fluid py-5" dir="ltr">
    <div class="container pt-5">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Book Ticket: @Model.CountryName</h2>
                <h2 class="title">@User.Identity.Name</h2>
                @Html.ValidationSummary()
                <form asp-action="BookingPackage" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row row-space">
                        <input asp-for="UserId" class="input--style-4" type="hidden" />
                        <input asp-for="PackageId" class="input--style-4" type="hidden" />
                        <input asp-for="BrandName" class="input--style-4" type="hidden" />
                        <input asp-for="CountryName" class="input--style-4" type="hidden" />
                        <input asp-for="Duration" class="input--style-4" type="hidden" />
                        <input asp-for="Person" class="input--style-4" type="hidden" />
                        <input asp-for="CountryDesc" class="input--style-4" type="hidden" />
                        <input asp-for="Price" class="input--style-4" type="hidden" />
                        <input asp-for="HotelStars" class="input--style-4" type="hidden" />
                        <input asp-for="DepartDate" class="input--style-4" type="hidden" />
                        <input asp-for="ReturnDate" class="input--style-4" type="hidden" />
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="FirstName" class="label"></label>
                                <input asp-for="FirstName" class="input--style-4" type="text" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="LastName" class="label"></label>
                                <input asp-for="LastName" class="input--style-4" type="text" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="NationalNumber" class="label"></label>
                                <input asp-for="NationalNumber" type="number" class="input--style-4" />
                                <span asp-validation-for="NationalNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col-8">
                            <div class="input-group">
                                <label asp-for="PassportNumber" class="label"></label>
                                <input asp-for="PassportNumber" type="text" class="input--style-4">
                                <span asp-validation-for="PassportNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <label asp-for="Address" class="label"></label>
                                <input asp-for="Address" class="input--style-4" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <label class="label" asp-for="ZipCode"></label>
                                <input asp-for="ZipCode" type="number" class="input--style-4" />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <label class="label" asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" type="tel" class="input--style-4" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
