
body {
    background-image: url("../img/04582830-6d93-4e7e-8909-8ddfa8d04818_409b40a6-42b1-494a-b3a3-2adce5bd2733_Egypt.jpg");
    /*  background: linear-gradient(50deg, #f3c680, rgba(161, 227, 226, 1));*/
    background-position: center;
    background-size: cover;
}

