@model DemoTraveler.Models.HomeImage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>HomeImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Imagea" class="control-label"></label>
                <input asp-for="Imagea" type="file" class="form-control" />
                <span asp-validation-for="Imagea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imageb" class="control-label"></label>
                <input asp-for="Imageb" type="file" class="form-control" />
                <span asp-validation-for="Imageb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

